<form method="post" action="Randomized">

  <textarea autofocus="true" cols="300" rows="100" placeholder="please enter a list of people separated by commas only
  e.g. mike,steve,frank" name="names"><%=  %></textarea>
  <input type="submit" value="Randomize">

</form>
