<!DOCTYPE html>

<html>

  <head>
    <title>Murphy and Thomas Team Randomizer</title>
    <meta name="keywords" charset="utf-8" content="html, tutorial, learning">
    <meta name="description" charset="utf-8" content="This is to randomize a list of people into teams">

  </head>

  <body>

    <%= yield %>

  </body>

</html>
